*.iml
.gradle
.gradle-home
.kotlin
.android-home/
downloads/*.apk
/local.properties
/keystore.properties
/release.keystore
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
