*.iml
.gradle/
.gradle-home/
.kotlin/
.android-home/
/local.properties
/keystore.properties
/release.keystore
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
build/
**/build/
/captures
.externalNativeBuild
.cxx
local.properties

*.apk
*.aab
downloads/*.apk
